{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="margin-top: 80px 0 20px;padding-top:95px;padding-bottom:20px">Api Film SW Details <b>{{ film.title }}</b></h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ film.title }}</td>
            </tr>
             <tr>
                <th>Id Epidose</th>
                <td>{{ film.episode_id }}</td>
            </tr>
            <tr>
                <th>Yearpublication</th>
                <td>{{ film.release_date }}</td>
            </tr>
            <tr>
                <th>Producer</th>
                <td>{{ film.producer }}</td>
            </tr>
            <tr>
                <th>Producer</th>
                <td>{{ film.producer }}</td>
            </tr>

             {% for result in film.characters %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <a href="" target="_blank"></a>
                         <p>Character: {{result}}
                        </p>
                         <hr>
                         {% for res in result %} 
                         <p>Name:</p><br/> {{res.name}}<br/>
                         {% endfor %} 
                    </div>
                </div>
            </div>
            {% endfor %}


  {#           {% for character in character %} #}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                         <hr>
                         <p>Name: {{character.name}}<br/>
                        </p>
                    </div>
                </div>
            </div>
   {#         {% endfor %} #}

        </tbody>
    </table>
{% endblock %}
